<table>
  <tbody>
    <tr>
      <th><%= t 'centos_admin.managers_roles' %></th>
      <td>
        <table>
          <tbody>
            <% Role.all.each_with_index do |role,i| %>
              <tr>
                <% id = "manager_#{i}" %>
                <td>
                  <input 
                    type="checkbox"
                    id="<%= id %>"
                    name="settings[managers_roles][]"
                    value="<%= role.name %>"
                    <% if Setting.plugin_centosadmin_redmine_plugin['managers_roles'].include? role.name %>
                      checked=true
                    <% end %>
                  >
                </td>
                <td>
                  <label style='margin: 0px; float: none;' for="<%= id %>">
                    <%= role.name %>
                  </label>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </td>
      <td>
        
        
      </td>
    </tr>
  </tbody>
</table>
